{{ partial "header.html" . }}

<div class="ui centered grid">
    <div class="twelve wide column ui segment">
      {{ partial "navbar.html" . }}
        <div class="post">
            <div class="post-title">
                <h1>{{ .Title }}</h1>
                <div id="gopherjs">
                </div>
                {{ .Content }}
            </div>

            <div class="post-content">
                {{ template "_internal/disqus.html" . }}
            </div>
        </div>
	</div>
</div>

<style type="text/css" media="screen">
    #gopherjs {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background: black;
    }
</style>

<script 
    src="{{.Site.BaseURL}}js/gopherjs/{{.Params.jsfolder}}/main.js" type="text/javascript" charset="utf-8">
</script>

{{ partial "footer.html" . }}
