{{ partial "header.html" . }}

<div class="ui centered grid">
    <div class="twelve wide column ui segment">
      {{ partial "navbar.html" . }}
        <div class="post">
            <div class="post-title">
                <h1>{{ .Title }}</h1>
                {{ .Content }}
            </div>

            <div id="gopherjs">
            </div>

            <div class="post-content">
                {{ template "_internal/disqus.html" . }}
            </div>
        </div>
	</div>
</div>

<style type="text/css" media="screen">
    #gopherjs {
        width:600;
        height:400;
        background:black;
    }
</style>

<script 
    src="{{.Site.BaseURL}}js/gopherjs/{{.Params.jsfolder}}/main.js" type="text/javascript" charset="utf-8">
</script>

{{ partial "footer.html" . }}
