{{ partial "header.html" . }}

<div class="ui grid basic segment">
    <div class="three wide column"></div>
    <div class="ten wide column">
      {{ partial "navbar.html" . }}
        <div class="post">
            <div class="post-title">
                <p class="footnote">
                    <time class="">{{ .Date.Format "2006-01-02" }}</time>
		            {{ $baseurl := .Site.BaseUrl }}
                    {{ if or .Params.tags .Params.categories .Params.series }}
                    |
                    {{ end }}
                    {{ if isset .Params "tags" }}
                    tags:{{ range .Params.tags }}<a href="{{ $baseurl }}tags/{{ . | urlize }}">{{ . }}</a> {{ end }}
                    {{ end }}

                    {{ if isset .Params "categories" }}
                    categories:{{ range .Params.categories }}<a href="{{ $baseurl }}categories/{{ . | urlize }}">{{ . }}</a> {{ end }}
                    {{ end }}

                    {{ if isset .Params "series" }}
                    series:{{ range .Params.series }}<a href="{{ $baseurl }}series/{{ . | urlize }}">{{ . }}</a> {{ end }}
                    {{ end }}
                </p>
                <h1>{{ .Title }}</h1>
            </div>

            <div class="post-content">
                {{ .Content }}
                {{ template "_internal/disqus.html" . }}
            </div>
        </div>
	</div>
    <div class="three wide column">
        {{ if .TableOfContents }}
            <div id="toc" class="ui segment fixed">
                <h4 class="ui header">Contents</h4>
                {{ .TableOfContents }}
            </div>
        {{ end }}
    </div>
</div>

{{ partial "footer.html" . }}
