{{ partial "header.html" . }}

<div class="ui centered grid">
    <div class="twelve wide column ui basic segment">
      {{ partial "navbar.html" . }}
        <div class="post">
            <div class="post-title">
                {{ if .TableOfContents }}
                    <div id="toc" class="ui basic right floated segment">
                        <h4 class="ui header">Contents</h4>
                        {{ .TableOfContents }}
                    </div>
                {{ end }}
                <p class="footnote">
                    <time class="">{{ .Date.Format "2006-01-02" }}</time>
		            {{.Render "taglist"}}
                </p>
                <h1>{{ .Title }}</h1>
                {{ .Content }}
            </div>

            <div class="post-content">
                {{ template "_internal/disqus.html" . }}
            </div>
        </div>
	</div>
</div>

{{ partial "footer.html" . }}
