{{ partial "header.html" . }}

<div class="ui centered grid">
    <div class="twelve wide column ui segment">
      {{ partial "navbar.html" . }}
        <div class="post">
            <div class="post-title">
                {{ if .TableOfContents }}
                    <div id="toc" class="ui basic right floated segment">
                        <h4 class="ui header">Contents</h4>
                        {{ .TableOfContents }}
                    </div>
                {{ end }}
                <p class="footnote">
                    <time class="">{{ .Date.Format "2006-01-02" }}</time>
		            {{ $baseurl := .Site.BaseUrl }}
                    {{ if or .Params.tags .Params.categories .Params.series }}
                    |
                    {{ end }}
                    {{ if isset .Params "tags" }}
                    tags:{{ range .Params.tags }}<a href="{{ $baseurl }}tags/{{ . | urlize }}">{{ . }}</a> {{ end }}
                    {{ end }}

                    {{ if isset .Params "categories" }}
                    categories:{{ range .Params.categories }}<a href="{{ $baseurl }}categories/{{ . | urlize }}">{{ . }}</a> {{ end }}
                    {{ end }}

                    {{ if isset .Params "series" }}
                    series:{{ range .Params.series }}<a href="{{ $baseurl }}series/{{ . | urlize }}">{{ . }}</a> {{ end }}
                    {{ end }}
                </p>
                <h1>{{ .Title }}</h1>
                {{ .Content }}
            </div>

            <div class="post-content">
                {{ template "_internal/disqus.html" . }}
            </div>
        </div>
	</div>
</div>

{{ partial "footer.html" . }}
