<h1 class="ui header">
	<a href="{{ .Permalink }}">{{ .Title }}</a>
</h1>	
{{ $baseURL := .Site.BaseURL}}
<footer class="footnote">
	submitted <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" class="post-list timeago">{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}</time>

	{{ if or .Params.tags .Params.categories .Params.series }}
	to
	{{ end }}

	{{ with .Params.tags }}
		tags:[ 
			{{ range .}}
				<a href="{{ $baseURL }}tags/{{ . | urlize }}">{{ . }}</a> 
			{{ end }}
		]
	{{ end }}

	{{ with .Params.categories }}
		categories:[ 
				{{ range . }}
					<a href="{{ $baseURL }}categories/{{ . | urlize }}">{{ . }}</a> 
				{{ end }}
			]
	{{ end }}

	{{ with .Params.series }}
		series:[ 
				{{ range . }}
					<a href="{{ $baseURL }}series/{{ . | urlize }}">{{ . }}</a> 
				{{ end }}
			]
	{{ end }}
</footer>