
{{ $baseurl := .Site.BaseURL }}

<div class="ui secondary borderless menu">
    <a class="header item" href="{{ $baseurl }}">
      <!-- <i class="home huge icon"></i> -->
      <h1>{{.Site.Title}}</h1>
    </a>
    <div class="ui  right text  menu">
      {{ range $key, $val := .Site.Sections }}
        {{if $key}}
          <a class="item" href="{{ $baseurl }}{{ $key| urlize }}">
            <i class="folder icon"></i>
            {{ $key | title}}
          </a>
        {{end}}
      {{ end }}
      <a class="item" href="{{ $baseurl }}about">
         <i class="user icon"></i>
        About
      </a>
      <a class="item" href="{{ .RSSlink }}">
        <i class="rss square red big icon"></i>
      </a>
    </div>
</div>

<div class="ui divider"></div>
